body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart-container {
  width: 65vw;
  height: 50vh;
  margin: 60px auto 60px auto;
}

.loading-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
